#table-height-value {
	margin-right: 10%;
}

#generate-button {
	margin-top: 2%;
}

#random-color-table {
	margin-top: 3%;
}

#table-body {
	border: solid black 1px;
	border-spacing: 0px;
}

.cells {
	border: solid black 1px;
}